.red_blue_text{
    font-family: 'Microsoft YaHei';
          font-size: 26px;
          color: #572adc;
          background: linear-gradient(40deg, #2812da 0%, #e82aa3 100%);
          background-size: cover;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
}
.cs{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.drew_circle{
    width: 0px;
    height: 0px;
    border: 100px solid #008c8c;
    border-radius: 100px;
}

.drew_heart{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #f70e0e;
    -webkit-transform: rotate(45deg);
    /* Safari 和 Chrome */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -o-transform: rotate(45deg);
    /* Opera */
    transform: rotate(45deg);
}